.CoverImg {
	width: 100vw;
	overflow: hidden;
	height: 180vw;
}

/*slideshow*/

.slideshow-container {
	width: 300vw;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.mySlides {
	width: 100vw;
	height: 180vw;
	overflow: hidden;
	transition: margin-left 1s;
}

#first-slide {
	margin-left: 0;
}

.mySlides img {
	display: block;
	width: 315vw;
	margin-left: -103vw;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 90vw;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 50px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
	position: relative;
	color: #fff;
	margin-top: -100vw;
	font-size: 10vw;
	bottom: 8px;
	width: 100%;
	text-align: center;
	text-shadow: 3px 3px 10px #000000;
}
  
/* The dots/bullets/indicators */
#slide-selector {
	position: absolute;
	width: 50vw;
	margin-left: 25vw;
	margin-top: -15vw;
}

.dot {
	cursor: pointer;
	height: 40px;
	width: 40px;
	margin: 0 4vw;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;
	box-shadow: 1px 1px 15px #000000;
}
  
.active, .dot:hover {
	background-color: #fff;
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

/*Main part*/

#Main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	margin-bottom: 50px;
	width: 80%;
	height: 3000px;
}

#Main h1 {
	color: #cccccc;
}

#Main hr {
	border: 1px solid #cccccc;
	margin-top: 25px;
}

#Main p {
	margin-top: 22px;
	color: #cccccc;
	font-size: 25px;
	width: 56vw;
}

#Main p a {
	text-decoration: underline;
	color: #cccccc;
}

b {
	font-size: 30px;
}