.Mylogo {
    width: 5vw;
}

.LogoDsc {
    display: none;
}

#banner {
    width: 100vw;
    height: 15vw;
    overflow: hidden;
}

#banner>img {
    display: block;
    width: 100vw;
}


/*Main part*/

#Main {
    margin-left: 150px;
    padding-top: 2.5vw;
    padding-bottom: 50px;
}

#Main h1 {
    font-size: 75px;
    color: #fff;
    margin-bottom: 30px;
}

#Main h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}

#Main>p {
    margin-bottom: 20px;
    width: 80vw;
    color: #fff;
    font-size: 20px;
}

#Main p a {
    text-decoration: underline;
    color: #fff;
}

h2>a {
    color: #cccccc;
    transition: color 0.1s;
}

h2>a:hover {
    color: #fff;
}


/*containers*/

.container {
    width: 80vw;
    background-color: black;
    margin-bottom: 50px;
}

.landscapecontainer,
.portraitcontainer {
    display: inline-block;
    overflow-y: hidden;
    vertical-align: text-top;
}

.landscapecontainer {
    width: 49.4vw;
}

.portraitcontainer {
    width: 30.6vw;
}

.landscapecontainer>img,
.portraitcontainer>img {
    display: block;
}

.landscapecontainer>img {
    width: 49.4vw;
}

.portraitcontainer>img {
    width: 30.6vw;
}

.landscapedsc,
.portraitdsc {
    display: inline-block;
    padding-top: 2vw;
    margin-left: 2.5vw;
    margin-top: 0;
    vertical-align: text-top;
}

.landscapedsc {
    width: 27.5vw;
}

.portraitdsc {
    width: 44.4vw;
}

.landscapedsc>p,
.portraitdsc>p {
    color: #fff;
    font-size: 1vw;
    margin-bottom: 20px;
}

.landscapedsc>p {
    width: 25vw;
}

.portraitdsc>p {
    width: 41.9vw;
}

b {
    font-size: 2vw;
}

i {
    font-size: 0.5vw;
}