.CoverImg {
	overflow: hidden;
	height: 60vw;
}

.CoverImg img {
	display: block;
	height: auto;
}

.title {
	position: absolute;
	float: left;
	box-sizing: content-box;
	margin-left: 5%;
	margin-right: 25%;
	margin-top: 20vw;
	width : 45%;
	color: #fff;
	text-shadow: 3px 3px 10px #000000;
}

.title h1 {
	text-align: center;
	font-size: 2vw;
}

.title h2 {
	text-align: right;
	font-size: 1.25vw;
}

.title img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13vw;
	width: 4vw;
	animation: opa 1.5s;
	animation-iteration-count: infinite;
}
@keyframes opa {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#Main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	margin-bottom: 50px;
	height: 3000px;
	overflow: hidden;
}

#Main h1 {
	color: #cccccc;
}

#Main h2 {
	color: #cccccc;
	margin-top: 25px;
}

#developer {
	background: #000;
	float: left;
	width: 45vw;
	height: 3000px;
}

#developer p, #architect p {
	color: #cccccc;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
}

#architect {
	background: #000;
	float: left;
	width: 45vw;
	height: 3000px;
}

#developerTitle, #architectTitle {
	display: block;
	float: left;
	width: 5vw;
	transition: margin-top 0.25s;
	animation: titleFlash 5s;
	animation-iteration-count: infinite;
}

@keyframes titleFlash {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}