.CoverImg {
	overflow: hidden;
	height: 180vw;
}

.CoverImg img {
	display: block;
	width: 315vw;
	margin-left: -150vw;
}

.title {
	position: absolute;
	box-sizing: content-box;
	margin-top: 60vw;
	margin-left: 10vw;
	margin-right: 10vw;
	width : 80vw;
	color: #fff;
	text-shadow: 5px 5px 20px #000000;
}

.title h1 {
	text-align: center;
	font-size: 10vw;
}

.title h2 {
	margin-top: 100px;
	text-align: center;
	font-size: 4vw;
}

.title img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vw;
	width: 20vw;
	animation: opa 1.5s;
	animation-iteration-count: infinite;
}
@keyframes opa {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#Main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	margin-bottom: 50px;
	height: 3000px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

#Main h1 {
	color: #cccccc;
}

#Main h2 {
	color: #cccccc;
	margin-top: 25px;
}

#developer, #architect {
	background: #242424;
	width: 90vw;
	height: 3000px;
	transition: margin-left 0.5s;
}

#developer p, #architect p {
	color: #cccccc;
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 80vw;
}

#developer p a, #architect p a {
	color: #cccccc;
	font-size: 30px;
	text-decoration: underline;
}

#titleContainer {
	display: flex;
	flex-direction: row;
	margin-top: -100px;
	width: 10vw;
	height: 3000px;
	transition: background-color 0.25s;
}

#titleContainer:hover{
	background-color: #000;
}

#developerTitle, #architectTitle {
	position: relative;
	width: 5vw;
	transition: opacity 0.25s;
}

#slideLeft, #slideRight {
	position: relative;
	width: 2vw;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	animation: titleFlash 2s;
	animation-iteration-count: infinite;
}

#slideLeft {
	margin-left: 1.5vw;
	margin-right: 0.5vw;
}

#slideRight {
	margin-left: 0.5vw;
	margin-right: 1.5vw;
}

@keyframes titleFlash {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}