.Mylogo {
	width: 5vw;
}

.LogoDsc {
	display: none;
}

#banner {
	width: 100vw;
	height: 15vw;
	overflow: hidden;
}

#banner > img {
	display: block;
	width: 100vw;
}

/*Main part*/

#Main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.5vw;
	padding-bottom: 50px;
	width: 80vw;
}

#Main h1 {
	font-size: 75px;
	color: #fff;
	margin-bottom: 30px;
}

#Main h2 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 30px;
}

#Main > p {
	margin-bottom: 20px;
	width: 80vw;
	color: #fff;
	font-size: 20px;
}

#Main p a {
	text-decoration: underline;
	color: #fff;
}

hr {
	margin-bottom: 25px;
}

/*containers*/

.container {
	width: 50vw;
	margin-left: 15vw;
	background-color: black;
	margin-bottom: 50px;
}

.landscapecontainer {
	display: inline-block;
	overflow-y: hidden;
	vertical-align: text-top;
	width: 50vw;
}

.landscapecontainer > img {
	display: block;
	width: 50vw;
}
.landscapedsc {
	display: inline-block;
	padding-top: 1vw;
	padding-bottom: 1vw;
	margin-left: 1vw;
	vertical-align: text-top;
}

.landscapedsc > p {
	color: #fff;
	font-size: 18px;
	width: 48vw;
}
