@font-face { font-family: Artifakt; src: url('../font/Artifakt\ Element\ Regular.ttf'); } 
@font-face { font-family: Artifakt; font-weight: bold; src: url('../font/Artifakt\ Element\ Bold.ttf');}
@font-face { font-family: Artifakt; font-style: italic; src: url('../font/Artifakt\ Element\ Italic.ttf');}
@font-face { font-family: Artifakt; font-weight: bold; font-style: italic; src: url('../font/Artifakt\ Element\ Bold\ Italic.ttf');}
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

h1 {
	font-size: 40px;
}

body {
	font-family: Artifakt, sans-serif;
	background: #242424;
	width: 100vw;
	overflow-x: hidden;
}

nav {
	background: #242424;
	position: fixed;
	height: 75px;
	width: 100%;
	box-shadow: 0 5px 10px #000000;
}

nav ul {
	float: right;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin-top: 25px;
	padding: 0 5px;
	line-height: 30px;
}

nav ul li a{
	color: #cccccc;
	margin-bottom: -4px;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 4.5vw;
}

nav ul li a img {
	display: inline-block;
	height: 15px;
}

a.active, a:hover {
	background: #000000;
	transition: .25s;
}

.external-link-sub {
	display: none;
	position: absolute;
	margin-top: 10px;
	margin-left: -10vw;
	background: #242424;
	box-shadow: 5px 5px 10px #000000;
}

.external-link-sub ul {
	margin-top: 0;
	margin-left: 0px;
	margin-right: 0px;
}

.external-link-sub ul li {
	margin-top: 0;
	padding-top: 20px;
	margin-right: 0;
	width: 100%;
	height: 40px;
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: #000000;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.external-link-sub ul li img {
	display: none;
}

nav ul li:hover .external-link-sub {
	display: block;
	position: absolute;
}

nav ul li:hover .external-link-sub li:hover {
	background: #000000;
	transition: .25s;
}

/*MyLogo*/

.MyLogo {
	display: block;
	position: fixed;
	float: left;
	width: 10vw;
	margin-top: 5px;
	margin-left: 10px;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	border-color: #242424;
	background: #242424;
	box-shadow: 5px 5px 10px #000000;
	transition: width 0.25s;
	overflow: hidden;
}

.MyLogo img {
	display: block;
	width: 100%;
}

.MyLogo div {
	color: #cccccc;
	width: 100%;
	margin: 5px 0 -3px 0;
	font-size: 2.25vw;
	text-align: center;
	transition: color 0.25s;
}

/*Footer*/

footer {
	background: #000000;
	color: #cccccc;
	width: 100%;
}

.footer {
	margin-left: 10%;
	padding-top: 75px;
	width: 80%;
}

.footer div {
	padding-bottom: 25px;
}

footer div img {
	display: block;
	width: 40vw;
}

.contact li {
	margin-top: 10px;
}

.contact li a {
	font-size: 23px;
	color: #cccccc;
	transition: color 0.1s;
}

.contact li a:hover {
	color: #fff;
}

.contact li a img {
	display: inline-block;
	margin-bottom: -5px;
	width: 40px;
	height: 40px;
}

footer div h2 a {
	color: #cccccc;
	transition: color 0.1s;
}

footer div h2 a:hover {
	color: #fff;
}

footer hr {
	border: 1px solid #cccccc;
	margin-bottom: 25px;
}

.statement {
	font-size: 10px;
}

.copyright {
	font-size: 8px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}