#vis1 {
    z-index: 1;
    width: 80vw;
    height: 70vh;
    margin: auto;
}

.mapboxgl-control-container div, .mapboxgl-control-container a {
    background-color: #00000000;
}

.mapboxgl-control-container a:hover {
    color: #000000DD;
}



.mapboxgl-popup {
    max-width: 200px;
    background-color: #00000000;
}

.mapboxgl-popup-tip {
    background-color: #00000000;
}

.mapboxgl-popup-content {
    text-align: left;
    font-family: Arial, sans-serif;
    padding: 15px;
    color: black;
    background-color: #00000000;
}

.mapboxgl-popup-content b {
    background-color: #00000000;
}

#legend1 {
    position: absolute;

    z-index: 2;

    width: 12vw;
    height: 12vh;
    margin-left: 76vw;
    margin-top: -14vh;

    background-color: #FFFFFF99;
    
}

#legend1 p, #legend1 div {
    background-color: #00000000;
    color: black;
    font-size: 16px;
}

#legend1 div span {
    display: inline-block;
    height: 15px;
    width: 30px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

#price-stats {
    margin-bottom: 10px;
}

#price-stats p {
    width: 100%;
    text-align: left;
    color: black;
    margin: 5px 0;
    font-size: 16px;
}
#loading {
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}