#p2 > #canvas {
    position: absolute;
    width: 60vw;
    height: 60vh;
    margin-left: 20vw;
    margin-top: 15vh;
}

#p2 > h4 {
    position: absolute;
    margin-top: 80vh;
    margin-left: auto; 
    margin-right: auto;
    width: 100%; 
    text-align: center;
}