<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 450px) and (max-device-height: 950px)" href="../css/style_mobile.css" />
    <link rel="stylesheet" type="text/css" href="../css/gallery template.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 450px) and (max-device-height: 950px)" href="../css/gallery_mobile.css" />
    <link rel="stylesheet" type="text/css" href="../css/aos.css">
    <link rel="shortcut icon" href="../image/icons/Website icon.png">
    <title>gallery&nbsp;|&nbsp;xdd44's Collections</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a class="active" href="../gallery.html">gallery</a></li>
            <li><a href="../project.html">Project</a></li>
            <li><a href="#">Media</a>
                <div class="external-link-sub">
                    <ul>
                        <li>
                            <a href="https://github.com/xdd44-utopia" target="_blank"><img src="../image/icons/github.png">GitHub</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/xdd44.utopia" target="_blank"><img src="../image/icons/instagram.png">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCuLjsKUCwts0mB72BVh3ZJg" target="_blank"><img src="../image/icons/youtube.png">YouTube</a>
                        </li>
                        <li>
                            <a href="https://space.bilibili.com/22729170" target="_blank"><img src="../image/icons/bilibili.png">Bilibili</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="MyLogo" onmouseenter="mouseEnterLogo()" onmouseleave="mouseLeaveLogo()">
        <img src="../image/logo 3.0.1.jpg" alt="xdd44">
        <div class="LogoDsc">Chenyue&nbsp;&quot;xdd44&quot;&nbsp;DAI</div>
    </div>

    <div id="banner">
        <img src="../image/logo 3.0.1.jpg">
    </div>

    <div id="Main">
        <h1>Title</h1>
        <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            Text Text Text Text Text Text Text Text Text Text Text </p>
        <div class="container">
            <div class="landscapecontainer">
                <img src="../image/logo 3.0.1.jpg">
            </div>
            <div class="landscapedsc">
                <p><b>Title</b></p>
                <p>Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript </p>
                <p><i>Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript </i></p>
            </div>
        </div>
        <div class="container">
            <div class="portraitcontainer">
                <img src="../image/logo 3.0.1.jpg">
            </div>
            <div class="portraitdsc">
                <p><b>Title</b></p>
                <p>Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript </p>
                <p><i>Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript </i></p>
            </div>
        </div>
        <div class="container">
            <div class="landscapecontainer">
                <img src="../image/logo 3.0.1.jpg">
            </div>
            <div class="landscapedsc">
                <p><b>Title</b></p>
                <p>Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript </p>
                <p><i>Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript Descript </i></p>
            </div>
        </div>
    </div>

    <footer>
    </footer>


    <script src="../js/jquery.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>