* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navigation bar */

nav {
    background: #000000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin-left: -100vw;
    transition: all 0.5s ease-in-out;
}

nav * {
    background-color: #00000000;
}

nav ul {
    margin-top: 440px;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    display: block;
    width: 100vw;
    text-align: center;
    line-height: 125px;
}

nav ul li a {
    color: #FFFFFF;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

#logo {
    width: 100px;
    height: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#logoa {
    position: fixed;
    display: block;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 160px;
    height: 160px;
    margin-right: 0px;
    line-height: 0;
    font-size: 0;
    transition: all 0.5s ease-in-out;
}

#logoa:hover {
    color: #00000000;
    background: #00000000;
    transition: none;
}

#logo_show {
    display: block;
    background-color: #000000;
    margin-top: 0;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}

#logo_show:hover {
    opacity: 100%;
    transition: none;
}

#logo_hide {
    display: none;
}

#icon_menu {
    display: block;
    position: fixed;
    z-index: 2;
    left: calc(100vw - 120px);
    top: 20px;
    width: 100px;
    transition: all 0.5s ease-in-out;
}

#icon_close {
    display: block;
    position: fixed;
    z-index: 2;
    left: calc(100vw - 120px);
    top: 20px;
    width: 100px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#navbar {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140px;
    background: #0000;
}

/*Banner*/

#banner {
    margin-left: 0px;
    margin-bottom: -100px;
    width: 100%;
    height: 25vh;
    overflow: hidden;
}

#banner>h1 {
    margin-top: -24.25vh;
}

/*Main*/

#Main {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    padding-top: 40px;
    overflow: hidden;
}

#Main>p {
    font-size: 16px;
}

iframe {
    display: block;
    width: 96vw;
    height: 54vw;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
}

.landscapecontainer>img {
    display: block;
    width: 96vw;
    height: 54vw;
    overflow-y: hidden;
    object-fit: cover;
}

.landscapedsc>p {
    font-size: 12px;
}